body {
	background-color: linen;
	font-family: verdana;
	font-size: 16px;
	padding-right: 10px;
 	padding-left: 10px;
}

h1 {
	color: #000080;
	font-size: 40px;
}

h2 {
	color: #000080;
	font-size: 25px;
}

/* li {
	float: left;
	display: inline-block;
	position: relative;
	line-height: 21px;
	text-align: center;
}

ul li:hover {
	display: block;
	height: auto;
}

ul li {
	display: block;
	font-weight: bold;
	color: #006400;
	background: #000080;
	text-align: center;
	padding: 8px 25px;
	text-decoration: none;
}

ul li a:hover {
	color: linen;
	background: #654321;
}

a.inline {
	text-decoration: none;
	color: #006400;
}

ul li ul.dropdown {
	min-width: 125px;
	background: #000080;
	display: none;
	position: absolute;
	z-index: 999;
	left: 0;
}

ul li:hover ul.dropdown {
	display: block;
}

ul li:hover ul.dropdown li {
	display: block;
	background: #654321;
	width: 100%;
} */

pre {
	fon
	text-align: center;
	white-space: pre-line;
	font-size: 125%;
}

p {
	color: #000080;
}

img.me {
	float:left;
	padding: 0px 20px;
	border-radius: 50px;
	width: 225px;
	height: 300px;
}

img.winter {
	border: 10pt solid;
	width: 95%;
	max-height: 450px;
}

p.winter1 {
  text-align: center;
}

#news_list strong {
	color: #FF0000;
  margin-left: 14em;
}

#news_list ul li {
	list-style-type: disc;
	color: #000080;
  margin-left: 14em;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#menu li {
  float: left;
}

#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	background-color: #333;
}

#menu li a:hover {
  background-color: #111;
}
